<div class="footer">
  <hr>
  <div class="footer-links">

    <div class="foot-column">
      <a href="">About us</a>
      <a href="">Contact</a>
      <a href="">Store policy</a>
      <a href="">Terms of service</a>
    </div>
    <div class="foot-column">
      <a href="">about us</a>
      <a href="">Contact</a>
      <a href="">Store policy</a>
      <a href="">terms of service</a>
    </div>
    <div class="foot-column">
      <a routerLink=""><img class="logo" src="../../assets/bw logo.svg" alt=""></a>
    </div>
  </div>

</div>
