nav
{
  background-color: black;
  padding: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo
{
  width: 50px;
  margin-right: 17px;
  transition: all 0.9s;
}
.logo:hover
{
  transform: scale(120%) rotate(-12deg);
  // transform: rotate(12deg);
}

.navtxt{
  color: #c9884e;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px 12px;
  font-size: 19px;
  transition: all 0.7s;
}

.navtxt:hover{
  color: #e09f79;
  transform: scale(120%);
}

.profile{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.cartbutt
{
  width: 30px;
  height: 30px;
  background-image: url(../../assets/bag.svg);
}
