.prod
{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding: 12px;
}

.filter{
  // flex-grow: 0;
  // border-right: 1px solid #c9884e;
  width: 300px;
  margin: 12px;
}

hr{
  border: 2px solid #c9884e;
  border-radius: 30px;
}
.products
{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  flex-grow: 1;
}

.product{
  aspect-ratio: 1/1;
  background-color: #646464;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
  padding: 5px;
}

.product:hover{
  transform: scale(103%) translateZ(3000px);
}
.product:hover .prodtxt{
  color: #c9884e;

}


a{
  text-decoration: none;
  color:black;
  font-family: 'Josefin Sans', sans-serif;
}

.price::before{
  content: "$";
  // font-size: large;
}
.price{
  content: "$";
  font-size:xx-large;

}
.name{
  text-align: right;
  font-size: x-large;
}

.prodtxt{
  margin: 0px;
  color: black;
  font-weight: 400;
  transition: all 0.5s;
}

.subheader
{
  font-size: x-large;
  margin: 0px;
}

.sort-labels
{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #c9884e;
  font-size: 30pt;
}
.selecttxt{
  font-size: 15pt;
}

.radio-container
{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}

.radio-container input
{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

.radion{
  position: absolute;
  // top: 0;
  left: 0;
  height: 12px;
  aspect-ratio: 1/1;
  // background-color: #eee;
  border-radius: 50%;
  border: #c9884e solid 1px;
}

.radio-container:hover input ~ .radion{
  background-color: #46301c;
}

.radio-container input:checked ~ .radion {
  background-color: #c9884e;
}
.slidecontainer {
  width: 89%; /* Width of the outside container */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #1A1919;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  // height: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #c9884e;
  cursor: pointer;
}
.slidecontainer input
{
  margin-bottom: 30px;
}

.selector
{
  margin: 30px 0px;
}
.radios
{
  display: flex;
  flex-direction: column;
}
