
<!-- nav should be invisible under the main banner -->
<nav class="bannav"></nav>

<div class="banner"></div>

<div class="bg_black">
  <h1 class="header">Featured</h1>
  <div class="featured_content">
    <div class="f_products">
      <a [routerLink]="'product/'+i.id" *ngFor="let i of featured" ><div class="f_prod" [ngStyle]="{'background-image':'url('+i.image+')'}">
        <h1 class="prodtxt price">{{i.price}}</h1>
        <p class="prodtxt name">{{i.name}}</p>
      </div></a>
    </div>
    <div class="f_banner" [ngStyle]="{'background-image':'url('+banner+')'}"></div>
    <!-- use ng for on products -->
    <div class="featured_banner"></div>
  </div>
</div>

<!-- FIXME the data for products don't aactually work pls fix -->
